
{%  extends "blog/base.html" %}
{% load crispy_forms_tags %} <!-- Charge les tags crispy -->

{% block content %}
    <div class="content-section">
         <form method="POST">  <!--creating un form for registeration of new users-->
            {% csrf_token %} <!--this is for securité-->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log in</legend>
                {{ form|crispy }} <!-- Utilisation du filtre crispy -->
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info">Login</button> <!--creating submit button-->
            </div>
        </form>   
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An account? <a class = "ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>    
{% endblock content %}    




