{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}
<div class="container py-4">
    <div class="row">
        <div class="col-md-8">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card shadow-sm p-4">
                    <div class="row align-items-center">
                        <div class="col-md-4 text-center">
                            <img class="rounded-circle shadow-sm mb-3" src="{{ user.profile.image.url }}" alt="Profile Image" style="width: 100px; height: 100px;">
                        </div>
                    </div>
                    <hr>
                    <fieldset class="form-group">
                        {{ u_form|crispy }}
                        {{ p_form|crispy }}
                    </fieldset>
                    <div class="form-group text-end">
                        <button type="submit" class="btn btn-info btn-lg">Update</button>
                    </div>
                </div>
            </form>
            <hr>
            <h4>Your Contributions:</h4>
            <ul>
    {% for action in user_actions %}
        <li>
            <strong>{{ action.canva.title }}</strong> - Modified {{ action.modification_count }} times
        </li>
    {% endfor %}
</ul>

        </div>
    </div>
</div>
{% endblock content %}
