{% extends "blog/base.html" %}

{% block content %}
    {% for canva in canvases %} <!--using for loop with canvases dictionary-->
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ canva.author.profile.image.url }}"> <!--for user profile picture-->
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ canva.author }}</a>
                    <small class="text-muted">{{ canva.date_posted|date:"F d, Y" }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'canva-detail' canva.id %}">{{ canva.title }}</a></h2>  <!--we create a link page for canva with url 'canva-detail' and id is pk or primary key-->
                <p class="article-content">{{ canva.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}
