{% extends "blog/base.html" %}

{% block content %}
<div class="container my-5">
  <div class="row">
    {% for canva in canvases %}
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-center">{{ canva.title }}</h5>
          <p class="card-text text-muted">
            {{ canva.content|truncatewords:20 }}
          </p>
          <p class="text-center text-muted">
            {{ canva.sizeHeight }} x {{ canva.sizeWidth }} pixels
          </p>
          <div class="d-flex justify-content-center">
            <a href="{% url 'canva-detail' canva.id %}" class="btn btn-primary btn-sm">Rejoindre</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
